@font-face {
    font-family: "PINGFANGREGULAR";
    src: url("PINGFANGREGULAR.eot"); /* IE9 */
    src: url("PINGFANGREGULAR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("PINGFANGREGULAR.woff") format("woff"), /* chrome, firefox */
    url("PINGFANGREGULAR.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("PINGFANGREGULAR.svg#PINGFANGREGULAR") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}


body{
    font-family: "PINGFANGREGULAR";
    text-align: center;
    font-size: 20px;
}