<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>about vue</title>
    <style>
        .first {
            color: yellow;
        }
        .error {
            color: red;
        }
        .active {
            color: powderblue;
        }
    </style>
</head>

<body>
    <div id="app">
        {{message}}
    </div>
    <div id="app2">
        <a v-bind:title='message'>v-bind指令将title与message绑定</a>
    </div>
    <div id="app3">
        <ul>
            <li v-for='todo in todos'>{{todo.txt}}</li>
        </ul>
    </div>
    <div id="computed">
        <p>original message:"{{ message}}" </p>
        <p>computed reversed message:"{{ reversedMessage}}"</p>
    </div>
    <div id="app5" class="first" v-bind:class="{ active:isActive,error:hasError}">
        hi,world!
        <p :style="[styleObject]">listen to me</p>
        <template v-if='loginType'>
            <label>username</label>
            <input placeholder="enter your username" key='username-input'>
        </template>
        <template v-else>
            <label>Email</label>
            <input placeholder="enter your email" key='email-input'/>
        </template>
        <button @click.ctrl="onClickBtn">toggle login type</button>
        <input v-model.trim='inputValue'/>
        <span>{{inputValue}}</span>
        <input type="checkbox" v-model='checked' value="a"/>
        <input type="checkbox" v-model='checked' value="b"/>
        <span>{{checked}}</span>
    </div>
    <div id="app6">
        <input v-model='parentMsg'/>
        <child :message='parentMsg'></child>
        
    </div>
    <div id="app7">
            <anchored-heading v-for="item in items" :level="item.i">Hello world!</anchored-heading>
    </div>
    <div id="app8">
            <anchored-heading-2 v-for="item in items" :level="item.i">Hello world!</anchored-heading>
    </div>
    <script type="text/x-template" id="anchored-heading-template">
        <h1 v-if="level === 1">
          <slot></slot>
        </h1>
        <h2 v-else-if="level === 2">
          <slot></slot>
        </h2>
        <h3 v-else-if="level === 3">
          <slot></slot>
        </h3>
        <h4 v-else-if="level === 4">
          <slot></slot>
        </h4>
        <h5 v-else-if="level === 5">
          <slot></slot>
        </h5>
        <h6 v-else-if="level === 6">
          <slot></slot>
        </h6>
      </script>
    <script src="./js/vue.js" type="text/javascript" charset="utf-8"></script>
    <script src="./js/index.js" type="text/javascript" charset="utf-8"></script>
</body>

</html>